*{
    margin:0;
    padding:0;
}
.trans1{
    margin-top:60px;
    margin-left:80px;
}
#color1{
    width: 200px;
    height: 150px;
    background-color:rgb(7, 121, 156);
}
#color1:hover{
    background-color:rgb(44, 187, 46);
    transition:all 5s easein;
}
#color2{
    margin:0;
    width: 200px;
    height: 150px;
    background-color:rgb(44, 187, 46);
}