body{
    background-color:#97cab9;
}
.lform{
    background-color: #f0edd4;
    margin:100px 500px 100px 500px;
    padding:10px;
    text-align: center;
    border:1px solid #f8b5a7;
    border-radius: 10px;    
}
.details{
    margin-top: 25px 25px 25px 25px;
    padding:25px;
}
#mailid:hover{
    background-color:#acbda6;
    
}
#password:hover{
    background-color:#acbda6;
}
#signin{
    margin-top:20px;
    padding:5px;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    width: 100px;
    background-color:#f8b5a7;
    font-style:oblique ;
    
}
#signin:hover{
    color: #f8b5a7;
    background-color: #fff;
    border: 4px solid #f8b5a7;
    font-style:oblique ;
}

#heading{
    letter-spacing:2px;
    word-spacing: 1px;
    color:rgb(7, 105, 109);
    font-size:25px;
    margin-bottom: 2px;
    margin-top: 0px;
    font-style:oblique ;
}
.line{
    padding:0;
    width:50px;
    height:2px;
    border-radius: 10px;
    background-color: #db8a83;
}
.hyperlink{
    color:black;
}
.hyperlink:hover{
    color:rgb(80, 80, 37);
}
i{
   padding-right: 5px; 
}
.greetings{
    background-color: #f8b5a7;
    margin:100px 500px 100px 500px;
    padding:10px;
    text-align: center;
    border:1px solid #f8b5a7;
    border-radius: 10px;
    
}
#txt1{
    font-style:oblique ;
}
.line1{
    padding:0;
    width:50px;
    height:2px;
    border-radius: 10px;
    background-color: #f0edd4;
}
#para{
    font-style:oblique ;
}

#signup{
    background-color: #f0edd4;
    margin-top:20px;
    padding:5px;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    width: 100px;
    font-style:oblique ;
}
#signup:hover{
    color: #f0edd4;
    background-color: #f8b5a7;
    border: 4px solid #f0edd4;
}
